.DS_Store

# Vim files
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
cube/lyftcube
cube/server/lyftcube-server

# Debug files
*.dSYM/
cube/animations/.fuse_hidden*
cube/animations/

# Xcode
build/
DerivedData
output/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

# iOS
CubeDesigner-iOS/LyftCubeDesigner.xcworkspace
CubeDesigner-iOS/Pods/
CubeDesigner-iOS/LyftCubeDesigner/Animations
